conf/schema/blacklist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://iaik.tugraz.at/CryptoSlice"
    xmlns="http://iaik.tugraz.at/CryptoSlice"
    elementFormDefault="qualified">
  <xs:element name="blacklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="exclude"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exclude">
    <xs:complexType>
      <xs:attribute name="path-fragment" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
